{% extends 'auth_base.html' %} {% block content %}

<!-- Chart.js dependencies -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<h1>{{ device.name }}</h1>

<body>
  <div class="row mb-3">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <p class="my-0">Power Consumption</p>
          </div>
        </div>
        <div class="card-body">
          <canvas id="deviceEnergy"></canvas>
        </div>
        <div>
          <table>
            <td> Lifetime energy consumption</td>
            <tr> {{ device.lifetime_energy_consumption }}</tr>
            <td> {{ device.energy_consumption_last_day }} </td>
          </table>
        </div>
</body>

<!-- Displays the probability graph-->
<script>

  //Get the probability vector passed down from the controller
  let probVector = "{{ probVector }}";
  //Convert to an array
  probVector = probVector.split(",");
  //console.log(probVector);
  //console.log(typeof(probVector));

  let x = 5; //minutes interval
  let times = []; // time array
  let tt = 0; // start time
  let ap = ['AM', 'PM']; // AM-PM

  //loop to increment the time and push results in array
  for (let i = 0; tt < 24 * 60; i++) {
    let hh = Math.floor(tt / 60); // getting hours of day in 0-24 format
    let mm = (tt % 60); // getting minutes of the hour in 0-55 format
    times[i] = ("0" + (hh % 12)).slice(-2) + ':' + ("0" + mm).slice(-2) + ap[Math.floor(hh / 12)]; // pushing data in array in [00:00 - 12:00 AM/PM format]
    tt = tt + x;
  }
  //console.log(times);
  let ctx = document.getElementById("deviceEnergy").getContext("2d");
  let chart = new Chart(ctx, {
    // The type of chart we want to create
    type: "line",
    data: {
      labels: times,
      datasets: [
        {
          label: "Device Energy Consumption (5min) (1/12Wh)",
          borderColor: "rgb(99, 132, 255)",
          fill: false,
          data: probVector,
        },
      ],
    },
    // Configuration options go here
    options: {
      elements: {
        point: {
          radius: 0,
          hitRadius: 10,
          hoverRadius: 10
        }
      }
    }
  });
</script>

{% endblock %}