{% extends 'auth_base.html' %} {% block content %}

<!-- Chart.js dependencies -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<h1>{{ device.name }}</h1>

<body>
  <div class="row mb-3">
    <div class="col-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <p class="my-0">Energy Consumption</p>
            <!-- Time stamp -->
            <small class="ms-2 me-0 my-0" id="lastUpdateEnergyConsumption"></small>
          </div>
          <!-- Refresh Button -->
          <button class="btn btn-secondary" id="refreshEnergyConsumption">
            <i class="bi bi-arrow-repeat"></i>
          </button>
        </div>

            <div class="card-body">
              <canvas id="deviceEnergy"></canvas>
            </div>
      <script>
      async function deviceEnergyFunction() {
          try {
            // Arrays for labels and values
            let dataLabels = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23];
            let dataValues = [12,12,12,12,15,15,0,0,0,20,22,22,22,0,0,0,0,18,19,20,0,0,0];

            var ctx = document.getElementById("deviceEnergy").getContext("2d");
            var chart = new Chart(ctx, {
              // The type of chart we want to create
              type: "line",
              data: {
                labels: dataLabels,
                datasets: [
                  {
                    label: "Device Energy Consumption (5min) (1/12Wh)",
                    borderColor: "rgb(99, 132, 255)",
                    fill: false,
                    data: dataValues, //data: dataValuesOffWind.slice(0, 20),
                  },
                ],
              },

          // Configuration options go here
          options: {},
        });

            // return labels and values as object
            //   return {
            //     dataValues,
            //     dataLabels,
            //   };
          } catch {
            console.log("Forhelvede....");
          }
        }
        deviceEnergyFunction();
      </script>
</body>

{% endblock %}