{% extends 'auth_base.html' %} {% block content %}

<h1 class="display-6 mb-3">Hello {{profile_data.firstname}}</h1>
<div class="row mb-3">
  <div class="col-3">
    <div class="mini-card card h-100 text-center">
      <div class="card-header">
        <h5>Money saved</h5>
      </div>
      <div class="card-body">
        <p>{{ profile_data.money_saved }} DKK</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="mini-card card h-100 text-center">
      <div class="card-header">
        <h5>CO<sub>2</sub> saved</h5>
      </div>
      <div class="card-body">
        <p>{{profile_data.carbon_saved}} g CO<sub>2</sub>e</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="mini-card card h-100 text-center">
      <div class="card-header">
        <h5>Carbon footprint</h5>
      </div>
      <div class="card-body">
        <p>{{profile_data.carbon_footprint}} kg CO<sub>2</sub>e</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="mini-card card h-100 text-center">
      <div class="card-header">
        <h5>
          <a href="/devices">Devices</a>
        </h5>
      </div>
      <div class="card-body">
        <p>{{counted_devices}}</p>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="pills-home-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-home"
      type="button"
      role="tab"
      aria-controls="pills-home"
      aria-selected="true"
    >
      Danish CO<sub>2</sub> Emissions
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-profile-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-profile"
      type="button"
      role="tab"
      aria-controls="pills-profile"
      aria-selected="false"
    >
      Danish Energy Production
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-contact-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-contact"
      type="button"
      role="tab"
      aria-controls="pills-contact"
      aria-selected="false"
    >
      ARiMA
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-myhome-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-myhome"
      type="button"
      role="tab"
      aria-controls="pills-myhome"
      aria-selected="false"
    >
      My Energy usage
    </button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div
    class="tab-pane fade show active"
    id="pills-home"
    role="tabpanel"
    aria-labelledby="pills-home-tab"
  >
    <!-- CO2 chart -->
    <div class="row mb-3" id="CO2Chart">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <p class="m-0">CO<sub>2</sub> Emission</p>
              <!-- Time stamp -->
              <small class="ms-2 me-0 my-0" id="lastUpdateCO2"></small>
            </div>
            <!-- Refresh Button -->
            <button class="btn btn-secondary" id="refreshCO2">
              <i class="bi bi-arrow-repeat"></i>
            </button>
          </div>

          <div class="card-body p-3">
            <canvas id="chartCO2"></canvas>
          </div>
          <div class="card-footer">
            <small
              >Data from
              <a
                href="https://www.energidataservice.dk/"
                target="_blank"
                rel="noreferrer"
              >
                energidataservice.dk
              </a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-profile"
    role="tabpanel"
    aria-labelledby="pills-profile-tab"
  >
    <!-- Energy production chart -->
    <div class="row mb-3" id="energyChart">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <p class="my-0">Green Energy Production</p>
              <!-- Time stamp -->
              <small class="ms-2 me-0 my-0" id="lastUpdateGreenEnergy"></small>
            </div>
            <!-- Refresh Button -->
            <button class="btn btn-secondary" id="refreshGreenEnergy">
              <i class="bi bi-arrow-repeat"></i>
            </button>
          </div>

          <div class="card-body">
            <canvas class="graph" id="chartGreenEnergy"></canvas>
          </div>

          <div class="card-footer">
            <small
              >Data from
              <a
                href="https://www.energidataservice.dk/"
                target="_blank"
                rel="noreferrer"
              >
                energidataservice.dk
              </a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-contact"
    role="tabpanel"
    aria-labelledby="pills-contact-tab"
  >
    ARiMA prediction graph
  </div>
  <div
    class="tab-pane fade"
    id="pills-myhome"
    role="tabpanel"
    aria-labelledby="pills-myhome-tab"
  >
    <!-- My energy consumption graph -->
    <div class="row mb-3" id="MyhomeChart">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <p class="m-0">My home energy consumption</p>
            </div>
          </div>

          <div class="card-body p-3">
            <canvas id="chartMyhome"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  let percentileSaved = 100 - "{{profile_data.sustainable_goals}}";
  async function energiDataEMI() {
    try {
      const DAYSAMOUNT = 30; //change in URI if this is changed.
      const URI =
        'https://www.energidataservice.dk/proxy/api/datastore_search_sql?sql=SELECT"Minutes5UTC", "Minutes5DK", "PriceArea", "CO2Emission" FROM "co2emis" ORDER BY "Minutes5UTC" DESC LIMIT 17280'; //every second is a correct datapoint, we need for a month of datapoints which is 17280
      let data = await fetch(URI).then((response) => response.json());

      // Arrays for labels and values
      let dataLabels = [];
      let dataValues = [];
      let dataValuesMonth = [];
      let daysMonth = 30;
      let dataValuesWeek = [];
      let daysWeek = 7;
      let dataValuesDays = [];
      let daysDays = 3;
      let dataTestAccuracy = [];
      //datapoints on 1 day
      let dataDay = (60 * 24) / 5;
      // Iterate over reponse results
      console.log("Total CO2 Rows:" + data.result.records.length);

      for (let i = 0; i < data.result.records.length; i++) {
        // Push labels and values
        if (data.result.records[i].PriceArea == "DK1") {
          dataValues.push(data.result.records[i].CO2Emission);
          dataLabels.push(data.result.records[i].Minutes5DK.slice(-8, -3));
        }
      }
      // Reverse Arrays
      dataLabels = dataLabels.reverse();
      dataValues = dataValues.reverse();

      //Function that creates a moving average dataset depended on amount of days.
      function createData(days, newDataValues) {
        //total data points
        let dataTotal = days * dataDay;
        for (let j = 0; j < dataDay; j++) {
          newDataValues[j] = 0;
          for (let i = j; i < dataTotal; i += dataDay) {
            //compounds the values
            newDataValues[j] +=
              dataValues[i + (dataDay * DAYSAMOUNT - dataTotal)];
          }
          //finds average for that time
          newDataValues[j] = newDataValues[j] / days;
        }
      }

      createData(daysMonth, dataValuesMonth);
      createData(daysWeek, dataValuesWeek);
      createData(daysDays, dataValuesDays);
      createData(1, dataTestAccuracy);
      console.log("DataValues length" + dataValues.length + "\n");
      console.log("DataValuesMonth length" + dataValuesMonth.length + "\n");
      console.log("DataLabels length" + dataLabels.length + "\n");

      //a function that creates the percentile line using preexisting moving average and a percentile.
      function createPercentileLine(p, inputData) {
        //percentile to calculate to.
        //p = Math.ceil(100 / p);
        inputData.sort(compareNumbers);
        //calculating percentile
        let percentileNr = Math.floor((inputData.length / 100) * p);
        //new dataline to be filled for use as a graph.
        let newDataLine = [];
        console.log(
          100 -
            p +
            "% saving, nr: " +
            percentileNr +
            ", value: " +
            inputData[percentileNr]
        );
        //duplicate the result to every datapoint through the day
        //in order for it to be plottet nicely
        for (let i = 0; i < dataDay; i++) {
          newDataLine[i] = inputData[percentileNr];
        }
        return newDataLine;
      }

      //comparenumbers function, to be used with sort.
      function compareNumbers(a, b) {
        return a - b;
      }

      var ctx = document.getElementById("chartCO2").getContext("2d");
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: "line",
        data: {
          labels: dataLabels.slice(
            dataLabels.length - dataDay,
            dataLabels.length
          ),
          datasets: [
            {
              label: "CO2 Emission last 24 hours (5min) (g/kWh)",
              borderColor: "rgb(0, 255, 0)",
              fill: false,
              data: dataValues.slice(
                dataValues.length - dataDay,
                dataValues.length
              ),
              //steppedLine: "true",
            },
            {
              label:
                "CO2 Emission " +
                daysDays +
                " days running average (5min) (g/kWh)",
              borderColor: "rgb(255, 255, 0)",
              fill: false,
              data: dataValuesDays.slice(0, dataDay),
              hidden: true,
            },
            {
              label:
                "CO2 Emission " +
                daysWeek +
                " days running average (5min) (g/kWh)",
              borderColor: "rgb(255, 153, 0)",
              fill: false,
              data: dataValuesWeek.slice(0, dataDay),
              hidden: true,
            },
            {
              label:
                "CO2 Emission " +
                daysMonth +
                " days running average (5min) (g/kWh)",
              borderColor: "rgb(255, 0, 0)",
              fill: false,
              data: dataValuesMonth.slice(0, dataDay),
              //steppedLine: "true",
            },
            {
              label:
                "Saving " +
                (100 - percentileSaved) +
                "% of CO2 when the green line is under the black line (based upon red line minima and maxima).",
              borderColor: "rgb(0, 0, 0)",
              fill: false,
              data: createPercentileLine(
                percentileSaved,
                dataValuesMonth
              ).slice(0, dataDay),
              steppedLine: true,
            },

            // {
            //     label: "CO2 Emission " + "test" + " days running average (5min) (g/kWh)",
            //     borderColor: "rgb(0, 255, 150)",
            //     data: dataTestAccuracy.slice(0, 288),
            //     //steppedLine: "true",
            // },
          ],
        },
        // Configuration options go here
        options: {
          elements: {
            point: {
              radius: 0,
              hitRadius: 10,
              hoverRadius: 10,
            },
          },
        },
      });

      // return labels and values as object
      //   return {
      //     dataValues,
      //     dataLabels,
      //   };
    } catch {
      console.log("Forhelvede....");
    }
  }

  // Kode til hentning of visning af energiproduktion
  async function greenEnergyDataEMI() {
    try {
      const URI = "{{ test_route }}";
      let data = await fetch(URI).then((response) => response.json());

      console.log(data.result.records.length);
    } catch (error) {
      console.log(error);
    }

    try {
      const URI =
        'https://www.energidataservice.dk/proxy/api/datastore_search_sql?sql=SELECT "Minutes5DK", "PriceArea", "OffshoreWindPower", "OnshoreWindPower", "SolarPower" FROM "electricityprodex5minrealtime" ORDER BY "Minutes5UTC" DESC LIMIT 576';
      let data = await fetch(URI).then((response) => response.json());

      // Arrays for labels and values
      let dataLabels = [];
      let dataValuesOffWind = [];
      let dataValuesOnWind = [];
      let dataValuesSolar = [];

      // Iterate over reponse results
      for (let i = 0; i < data.result.records.length; i++) {
        // Push labels and values
        if (data.result.records[i].PriceArea == "DK1") {
          dataLabels.push(data.result.records[i].Minutes5DK.slice(-8, -3)); // we extract HH:MM
          dataValuesOffWind.push(data.result.records[i].OffshoreWindPower);
          dataValuesOnWind.push(data.result.records[i].OnshoreWindPower);
          dataValuesSolar.push(data.result.records[i].SolarPower);
        }
      }
      // Reverse Arrays
      dataLabels = dataLabels.reverse();
      dataValuesOffWind = dataValuesOffWind.reverse();
      dataValuesOnWind = dataValuesOnWind.reverse();
      dataValuesSolar = dataValuesSolar.reverse();

      var ctx = document.getElementById("chartGreenEnergy").getContext("2d");
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: "line",
        data: {
          labels: dataLabels,
          datasets: [
            {
              label: "Offshore Energy Production (Vest) (5min) (MWh)",
              borderColor: "rgb(99, 132, 255)",
              fill: false,
              data: dataValuesOffWind, //data: dataValuesOffWind.slice(0, 20),
            },
            {
              label: "Onshore Energy Production (Vest) (5min) (MWh)",
              borderColor: "rgb(132, 255, 99)",
              fill: false,
              data: dataValuesOnWind,
            },
            {
              label: "Solar Energy Production (Vest) (5min) (MWh)",
              borderColor: "rgb(255, 255, 55)",
              fill: false,
              data: dataValuesSolar,
            },
          ],
        },

        // Configuration options go here
        options: {
          elements: {
            point: {
              radius: 0,
              hitRadius: 10,
              hoverRadius: 10,
            },
          },
        },
      });

      // return labels and values as object
      //   return {
      //     dataValues,
      //     dataLabels,
      //   };
    } catch {
      console.log("Forhelvede....");
    }
  }

  //Shows the graph for home energy usage
  function homeEnergyData() {

    //Import data on users energy consumption the passed day
    let data = "{{profile_data.total_energy_consumption_last_day}}".split(',')
    console.log(`profile data: ${data}`)
    //Push every five-minute interval beginning from current interval to this array
    let time_labels = [];

    //Get current date
    let date = new Date();

    for (let i=0; i<288; i++){
      //Format minutes and hours to have leading zero and rounded to five like 00:05
      let f_min = ("0" + (Math.floor(date.getMinutes() / 5) * 5)).slice(-2)
      let f_hour = ("0" + date.getHours()).slice(-2)

      time_labels.push(`${f_hour}:${f_min}`)

      //Increment the date by five minutes
      date.setMinutes(date.getMinutes() + 5)
    }
    console.log(time_labels)
    let ctx = document.getElementById("chartMyhome").getContext("2d");
    let chart = new Chart(ctx, {
        // The type of chart we want to create
        type: "line",
        data: {
          labels: time_labels,
          datasets: [
            {
              label: "Home Energy Consumption (KWh)",
              borderColor: "rgb(255, 255, 55)",
              fill: false,
              data: data,
            },
          ],
        },

        // Configuration options go here
        options: {
          elements: {
            point: {
              radius: 0,
              hitRadius: 10,
              hoverRadius: 10,
            },
          },
        },
      })
  }

  const setLastUpdate = (lastUpdate) => {
    let date = new Date();
    let dateString = `${date.getDate()}/${date.getMonth()}-${date.getFullYear()}`;
    let hours = date.getHours < 10 ? "0" + date.getHours() : date.getHours();
    let mins =
      date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
    let secs =
      date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

    let timeString = `${dateString} ${hours}:${mins}:${secs}`;
    document.getElementById(lastUpdate).innerText = timeString;
  };

  // Fetch data after page content has loaded
  window.addEventListener("load", function () {
    energiDataEMI();
    setLastUpdate("lastUpdateCO2");
    greenEnergyDataEMI();
    setLastUpdate("lastUpdateGreenEnergy");
    homeEnergyData();
  });

  // onClick eventlistner for refresh button
  document.getElementById("refreshCO2").addEventListener("click", () => {
    energiDataEMI();
    setLastUpdate("lastUpdateCO2");
  });

  // onClick eventlistner for Energy refresh button
  document
    .getElementById("refreshGreenEnergy")
    .addEventListener("click", () => {
      greenEnergyDataEMI();
      setLastUpdate("lastUpdateGreenEnergy");
    });
</script>
{% endblock content %}
