{% extends 'auth_base.html' %} {% block content %}

<h1 class="display-6 mb-3">Hello {{profile_data.firstname}}</h1>
<div class="row mb-4">
  <div class="col-4">
    <div class="mini-card card h-100 text-center">
      <div class="card-header">
        <h5>CO<sub>2</sub> saved</h5>
      </div>
      <div class="card-body">
        <p>{{ profile_data.carbon_saved.toFixed(2) }} kg CO<sub>2</sub></p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="mini-card card h-100 text-center">
      <div class="card-header">
        <h5>Carbon footprint</h5>
      </div>
      <div class="card-body">
        <p>{{profile_data.carbon_footprint.toFixed(2) }} kg CO<sub>2</sub></p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="mini-card card h-100 text-center">
      <div class="card-header">
        <h5>
          <a href="/devices">Devices</a>
        </h5>
      </div>
      <div class="card-body">
        <p>{{counted_devices}}</p>
      </div>
    </div>
  </div>
</div>

<!-- User Info Cards -->
<div class="row mb-3" id="cardContainer">
  {% set advicesLen = advices.length %} {% if advicesLen> 0 %} {% for advice in
  advices %}
  <div class="col-12 col-md-6">
    <div class="card mb-3">
      <div class="row g-0">
        {% if advice.class == "status" %}
        <div class="bg-light col-md-4 p-3 d-flex align-middle">
          {% if advice.grade == 5 %}
          <img
            class="img-fluid mx-auto d-block"
            id="recommender-image"
            src="/images/cards/vgood.svg"
            alt="..."
          />
          {% elif advice.grade == 4 %}
          <img
            class="img-fluid mx-auto d-block"
            id="recommender-image"
            src="/images/cards/good.svg"
            alt="..."
          />
          {% elif advice.grade == 3 %}
          <img
            class="img-fluid mx-auto d-block"
            id="recommender-image"
            src="/images/cards/neutral.svg"
            alt="..."
          />
          {% elif advice.grade == 2 %}
          <img
            class="img-fluid mx-auto d-block"
            id="recommender-image"
            src="/images/cards/bad.svg"
            alt="..."
          />
          {% elif advice.grade == 1 %}
          <img
            class="img-fluid mx-auto d-block"
            id="recommender-image"
            src="/images/cards/vbad.svg"
            alt="..."
          />
          {% endif%}
        </div>
        {% else %}
        <div class="bg-light col-md-4 p-3 d-flex justify-content-center">
          {% if advice.grade == 4 %}
          <img
            class="img-fluid mx-auto d-block"
            id="recommender-image"
            src="/images/cards/low_carbon_2.svg"
            alt="..."
          />
          {% elif advice.grade == 3 %}
          <img
            class="img-fluid mx-auto d-block"
            id="recommender-image"
            src="/images/cards/pollution.svg"
            alt="..."
          />
          {% elif advice.grade == 2 %}
          <img
            class="img-fluid mx-auto d-block"
            id="recommender-image"
            src="/images/cards/windy.svg"
            alt="..."
          />
          {% elif advice.grade == 1 %}
          <img
            class="img-fluid mx-auto d-block"
            id="recommender-image"
            src="/images/cards/sunny.svg"
            alt="..."
          />
          {% endif %}
        </div>
        {% endif %}
        <div class="col-md-8">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-end">
              <h5 class="card-title mb-1">{{ advice.title }}</h5>
              <small class="text-muted mb-1">
                {% if advice.timeSince == 0 %}
                <span class="text-success">New</span> {% else %} {{
                advice.timeSince }} mins ago {% endif %}
              </small>
            </div>

            <p class="card-text">{{ advice.message }}</p>

            <div class="d-flex justify-content-end">
              {% if advice.class == "status" %}
              <a class="btn btn-outline-success btn-sm me-2" href="/"
                >See more</a
              >
              {% endif %}
              <a class="btn btn-outline-secondary btn-sm" href="/"
                ><i class="bi bi-archive"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% else%}
  <div class="my-3 border p-3">
    <img
      class="img-fluid mx-auto d-block"
      id="recommender-image"
      src="/images/cards/empty_cards.svg"
      alt="..."
    />
    <div class="mx-auto mt-3 d-block w-50 text-center">
      <h3>You don't have any advices yet</h3>
      <p class="text-secondary">
        We are still looking for ways to
        <span class="text-success">sustanify</span> your home energy usage.
      </p>
    </div>
  </div>
  {% endif %}
</div>

<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="pills-home-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-home"
      type="button"
      role="tab"
      aria-controls="pills-home"
      aria-selected="true"
    >
      Danish CO<sub>2</sub> Emissions
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-Forecast-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-Forecast"
      type="button"
      role="tab"
      aria-controls="pills-Forecast"
      aria-selected="false"
    >
      Danish CO<sub>2</sub> Emissions Forecast
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-energy-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-energy"
      type="button"
      role="tab"
      aria-controls="pills-energy"
      aria-selected="false"
    >
      Danish Energy Production
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="pills-myhome-tab"
      data-bs-toggle="pill"
      data-bs-target="#pills-myhome"
      type="button"
      role="tab"
      aria-controls="pills-myhome"
      aria-selected="false"
    >
      Home Energy Consumption
    </button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div
    class="tab-pane fade show active"
    id="pills-home"
    role="tabpanel"
    aria-labelledby="pills-home-tab"
  >
    <!-- CO2 chart -->
    <div class="row mb-3" id="CO2Chart">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <p class="m-0">CO<sub>2</sub> Emission</p>
              <!-- Time stamp -->
              <small class="ms-2 me-0 my-0" id="lastUpdateCO2"></small>
            </div>
            <!-- Refresh Button -->
            <button class="btn btn-secondary" id="refreshCO2">
              <i class="bi bi-arrow-repeat"></i>
            </button>
          </div>

          <div class="card-body p-3">
            <canvas id="chartCO2"></canvas>
            <!--Refresh symbol -->
            <div class="my-3 text-center">
              <div id="loading-CO2" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small
              >Data from
              <a
                href="https://www.energidataservice.dk/"
                target="_blank"
                rel="noreferrer"
              >
                energidataservice.dk
              </a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-energy"
    role="tabpanel"
    aria-labelledby="pills-energy-tab"
  >
    <!-- Energy production chart -->
    <div class="row mb-3" id="greenEnergyChart">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <p class="my-0">Green Energy Production</p>
              <!-- Time stamp -->
              <small class="ms-2 me-0 my-0" id="lastUpdateGreenEnergy"></small>
            </div>
            <!-- Refresh Button -->
            <button class="btn btn-secondary" id="refreshGreenEnergy">
              <i class="bi bi-arrow-repeat"></i>
            </button>
          </div>

          <div class="card-body">
            <canvas id="chartGreenEnergy"></canvas>
            <!--Refresh symbol -->
            <div class="my-3 text-center">
              <div
                id="loading-green-energi"
                class="spinner-border"
                role="status"
              >
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <small
              >Data from
              <a
                href="https://www.energidataservice.dk/"
                target="_blank"
                rel="noreferrer"
              >
                energidataservice.dk
              </a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-Forecast"
    role="tabpanel"
    aria-labelledby="pills-Forecast-tab"
  >
    <!-- Forecast chart -->
    <div class="row mb-3" id="ForecastChart">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <p class="m-0">CO<sub>2</sub> Forecast</p>
              <!-- Time stamp -->
              <small class="ms-2 me-0 my-0" id="lastUpdateForecast"></small>
            </div>
            <!-- Refresh Button -->
            <button class="btn btn-secondary" id="refreshForecast">
              <i class="bi bi-arrow-repeat"></i>
            </button>
          </div>

          <div class="card-body p-3">
            <canvas id="chartForecast"></canvas>
            <div class="my-3 text-center">
              <div id="loadingForecast" class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small
              >Data predicted using data from
              <a
                href="https://www.energidataservice.dk/"
                target="_blank"
                rel="noreferrer"
              >
                energidataservice.dk
              </a>
              <div id="model_order"></div>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="pills-myhome"
    role="tabpanel"
    aria-labelledby="pills-myhome-tab"
  >
    <!-- My energy consumption graph -->
    <div class="row mb-3" id="MyhomeChart">
      <div class="col-12">
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
              <p class="m-0">My home energy consumption</p>
            </div>
          </div>
          <div class="card-body p-3">
            <canvas id="chartMyhome"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  async function CO2Data() {
    try {
      //datapoints on 1 day
      const DATADAY = (60 * 24) / 5;

      let percentileSaved = 100 - "{{profile_data.sustainable_goals}}";
      //a function that creates the percentile line using preexisting moving average and a percentile.
      function createPercentileLine(p, inputData) {
        //percentile to calculate to.
        //p = Math.ceil(100 / p);
        inputData.sort(compareNumbers);
        //calculating percentile
        let percentileNr = Math.floor((inputData.length / 100) * p);
        //Check if max and in that case lower the index by one to be in range of array
        if (percentileNr === inputData.length) {
          percentileNr = inputData.length - 1;
        }
        //new dataline to be filled for use as a graph.
        let newDataLine = [];
        console.log(
          100 -
            p +
            "% saving, nr: " +
            percentileNr +
            ", value: " +
            inputData[percentileNr]
        );
        //duplicate the result to every datapoint through the day
        //in order for it to be plottet nicely
        for (let i = 0; i < DATADAY; i++) {
          newDataLine[i] = inputData[percentileNr];
        }
        return newDataLine;
      }

      //comparenumbers function, to be used with sort.
      function compareNumbers(a, b) {
        return a - b;
      }

      let loading = document.getElementById("loading-CO2");
      loading.style.display = "inline-block";

      //fetch carbon data.
      let carbon_data = await fetch("{{ carbon_data }}").then((response) =>
        response.json()
      );

      var ctx = document.getElementById("chartCO2").getContext("2d");
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: "line",
        data: {
          labels: carbon_data.data_labels,
          datasets: [
            {
              label: "CO2 Emission last 24 hours",
              borderColor: "rgb(0, 255, 0)",
              fill: false,
              data: carbon_data.carbon_1,
              yAxisID: "y",
            },
            {
              label: "CO2 Emission 3 days running average",
              borderColor: "rgb(255, 255, 0)",
              fill: false,
              data: carbon_data.carbon_3,
              hidden: true,
              yAxisID: "y",
            },
            {
              label: "CO2 Emission 7 days running average",
              borderColor: "rgb(255, 153, 0)",
              fill: false,
              data: carbon_data.carbon_7,
              hidden: true,
              yAxisID: "y",
            },
            {
              label: "CO2 Emission 30 days running average",
              borderColor: "rgb(255, 0, 0)",
              fill: false,
              data: carbon_data.carbon_30.slice(0, DATADAY),
              yAxisID: "y",
            },
            {
              label:
                "Saving " +
                (100 - percentileSaved) +
                "% of CO2 when the green line is under the black line (based upon red line minima and maxima).",
              borderColor: "rgb(0, 0, 0)",
              fill: false,
              data: createPercentileLine(
                percentileSaved,
                carbon_data.carbon_30
              ).slice(0, DATADAY),
              steppedLine: true,
              yAxisID: "y",
            },
          ],
        },
        // Configuration options go here
        options: {
          scales: {
            yAxes: [
              {
                id: "y",
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: "g / kWh",
                },
              },
            ],
          },
          elements: {
            point: {
              radius: 0,
              hitRadius: 10,
              hoverRadius: 10,
            },
          },
        },
      });
      loading.style.display = "none";
    } catch (e) {
      console.log(e);
    }
  }

  // Kode til hentning of visning af energiproduktion
  async function greenEnergyData() {
    try {
      let loading = document.getElementById("loading-green-energi");
      loading.style.display = "inline-block";

      let green_energy_data = await fetch("{{green_energy}}").then((response) =>
        response.json()
      );
      // Do the splits
      let home_energy_data =
        "{{profile_data.total_energy_consumption_last_day}}".split(",");

      var ctx = document.getElementById("chartGreenEnergy").getContext("2d");
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: "line",
        data: {
          labels: green_energy_data.dataTimestamp,
          datasets: [
            {
              label: "Offshore Energy Production",
              borderColor: "rgb(99, 132, 255)",
              backgroundColor: "rgb(99, 132, 255)",
              data: green_energy_data.dataOffshoreWind,
              fill: true,
              yAxisID: "y_l",
            },
            {
              label: "Onshore Energy Production",
              borderColor: "rgb(132, 255, 99)",
              backgroundColor: "rgb(132, 255, 99)",
              data: green_energy_data.dataOnshoreWind,
              fill: true,
              yAxisID: "y_l",
            },
            {
              label: "Solar Energy Production",
              borderColor: "rgb(255, 255, 55)",
              backgroundColor: "rgb(255, 255, 55)",
              data: green_energy_data.dataSolar,
              fill: true,
              yAxisID: "y_l",
            },
            {
              label: "Home Energy Consumption",
              borderColor: "rgb(255, 201, 25)",
              data: home_energy_data,
              yAxisID: "y_r",
            },
          ],
        },

        // Configuration options go here
        options: {
          hover: {
            mode: 'index',
          },
          tooltips: {
            mode: 'index',
          },
          scales: {
            yAxes: [
              {
                stacked: true,
                id: "y_l",
                scaleLabel: {
                  display: true,
                  labelString: "MWh",
                },
                position: "left",
                display: true,
              },
              {
                id: "y_r",
                scaleLabel: {
                  display: true,
                  labelString: "Home Energy Consumption (kWh)",
                },
                position: "right",
                display: true,
                ticks: {
                  min: 0,
                  suggestedMax: 0.5,
                },
                grid: {
                  drawOnChartArea: false, // only want the grid lines for one axis to show up
                },
              },
            ],
          },
          elements: {
            point: {
              radius: 0,
              hitRadius: 10,
              hoverRadius: 10,
            },
          },
        },
      });
      loading.style.display = "none";
    } catch {
      console.log("Green energy graph failed");
    }
  }

  //Shows the graph for home energy usage
  function homeEnergyData() {
    try {
      //Import data on users energy consumption the passed day
      let data = "{{profile_data.total_energy_consumption_last_day}}".split(
        ","
      );

      //Push every five-minute interval beginning from current interval to this array
      let time_labels = [];

      //Get current date
      let date = new Date();

      for (let i = 0; i <= 288; i++) {
        //Format minutes and hours to have leading zero and rounded to five like 00:05
        let f_min = ("0" + Math.floor(date.getMinutes() / 5) * 5).slice(-2);
        let f_hour = ("0" + date.getHours()).slice(-2);

        time_labels.push(`${f_hour}:${f_min}`);

        //Increment the date by five minutes
        date.setMinutes(date.getMinutes() + 5);
      }
      time_labels.shift();

      let ctx = document.getElementById("chartMyhome").getContext("2d");
      let chart = new Chart(ctx, {
        // The type of chart we want to create
        type: "line",
        data: {
          labels: time_labels,
          datasets: [
            {
              label: "Home Energy Consumption (KWh)",
              borderColor: "rgb(255, 201, 25)",
              fill: false,
              data: data,
            },
          ],
        },

        // Configuration options go here
        options: {
          elements: {
            point: {
              radius: 0,
              hitRadius: 10,
              hoverRadius: 10,
            },
          },
        },
      });
    } catch (error) {
      console.error();
    }
  }

  //Forecast graph
  async function forecastGraph() {
    try {
      let loading = document.getElementById("loadingForecast");
      loading.style.display = "inline-block";

      //fetch forecast data
      let data = await fetch("{{ forecast_data }}").then((response) =>
        response.json()
      );
      let model_text =
        "Model order is " +
        data.best_model_order +
        ", with an average error of " +
        data.best_model_fitness +
        ". Graph median is " +
        data.median +
        " with a standard deviation of " +
        data.standard_deviation +
        ".";
      console.log(model_text);
      document.getElementById("model_order").innerText = model_text;

      var ctx = document.getElementById("chartForecast").getContext("2d");
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: "line",
        data: {
          labels: data.forecast_labels,
          datasets: [
            {
              label: "Carbon emissions g/KWh last " + data.days_past + " days",
              borderColor: "rgb(0, 0, 255)",
              fill: false,
              data: data.data,
            },
            {
              label: "Emissions forecasted " + data.days_forecasted + " days",
              borderColor: "rgb(255, 0, 0)",
              fill: false,
              data: data.forecast_data,
            },
          ],
        },

        // Configuration options go here
        options: {
          elements: {
            point: {
              radius: 0,
              hitRadius: 10,
              hoverRadius: 10,
            },
          },
        },
      });
      loading.style.display = "none";
    } catch (e) {
      console.log(e);
    }
  }

  const setLastUpdate = (lastUpdate) => {
    let date = new Date();
    let dateString = `${date.getDate()}/${date.getMonth()}-${date.getFullYear()}`;
    let hours = date.getHours < 10 ? "0" + date.getHours() : date.getHours();
    let mins =
      date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
    let secs =
      date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

    let timeString = `${dateString} ${hours}:${mins}:${secs}`;
    document.getElementById(lastUpdate).innerText = timeString;
  };

  // Fetch data after page content has loaded
  window.addEventListener("load", function () {
    CO2Data();
    setLastUpdate("lastUpdateCO2");
    greenEnergyData();
    setLastUpdate("lastUpdateGreenEnergy");
    forecastGraph();
    setLastUpdate("lastUpdateForecast");
    homeEnergyData();
  });

  // onClick eventlistner for refresh button
  document.getElementById("refreshCO2").addEventListener("click", () => {
    CO2Data();
    setLastUpdate("lastUpdateCO2");
  });

  // onClick eventlistner for Energy refresh button
  document
    .getElementById("refreshGreenEnergy")
    .addEventListener("click", () => {
      greenEnergyData();
      setLastUpdate("lastUpdateGreenEnergy");
    });
  // onClick eventlistner for forecast refresh button
  document.getElementById("refreshForecast").addEventListener("click", () => {
    forecastGraph();
    setLastUpdate("lastUpdateForecast");
  });
</script>

<style>
  #refreshStatus {
    width: 100%;
    background-color: #ddd;
  }

  #refreshStatusBar {
    width: 1%;
    height: 30px;
    background-color: #4caf50;
    padding-bottom: 25px;
  }
</style>

{% endblock content %}
