{% extends 'authnon_base.html'%} {% block content %}
<div id="main" class="justify-content-center mt-3">
  <h1>Register</h1>

  {% for message in messages %}
  <div class="alert alert-danger" role="alert">{{ message.msg }}</div>
  {% endfor %}

  <form action="/register" method="POST">
    <div class="row g-3 mt-3">
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control mb-3 action-first-name"
            id="firstname"
            placeholder="First Name"
            name="firstname"
          />
          <label for="FirstNameValue">Firstname</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control mb-3 action-last-name"
            id="lastname"
            placeholder="Last Name"
            name="lastname"
          />
          <label for="FirstNameValue">Lastname</label>
        </div>
      </div>
    </div>
    <!-- Email field-->
    <div class="row g-3">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="text"
            class="form-control mb-3 action-email"
            id="email1"
            placeholder="E-mail"
            name="email"
          />
          <label for="FirstNameValue">Email</label>
        </div>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="password"
            class="form-control mb-3 action-password"
            id="password1"
            placeholder="Password"
            name="password"
          />
          <label for="FirstNameValue">Password</label>
        </div>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-md">
        <div class="form-floating">
          <input
            type="password"
            class="form-control mb-3 action-confirm-password"
            id="password2"
            placeholder="Re-enter password"
            name="password_confirm"
          />
          <label for="FirstNameValue">Confirm Password</label>
        </div>
      </div>

      <small class="text-muted mt-0 mb-3">
        Password must be a minimum of 8 characters long, and must contain at
        least 1 number [0-9] and 1 capitalized character [A-Å] and 1 symbol
      </small>
    </div>

    <!-- Submit button -->
    <div class="row g-3">
      <div class="text-center form-group mb-3">
        <button
          type="submit"
          class="btn btn-lg btn-primary w-100 submit-register"
        >
          Login
        </button>
      </div>
    </div>
  </form>
  <div class="text-center">
    <p>
      Already have an account? <a class="action-login" href="/login">Login</a>
    </p>
  </div>
</div>

<script>
  function validateRegInfo(form) {
    email = form.email1.value;
    password1 = form.password1.value;
    password2 = form.password2.value;
    lastname = form.lastname.value;
    firstname = form.firstname.value;

    if (email == "") {
      //document.getElementById("email-icon").innerHTML = <i class="bi bi-exclamation-diamond-fill colorfailure iconsize"></i>;
      alert("Please enter a valid email on the form name@mail.com");
    }
    // If password not entered
    else if (password1 == "") alert("Please enter Password");
    // If confirm password not entered
    else if (password2 == "") alert("Please confirm password");
    // If Not same return False.
    else if (password1 != password2) {
      alert("\nPassword did not match: Please try again...");
      return false;
    }

    // If same return True.
    else {
      alert("User Registration Complete: Welcome to Sustanify!!");
      document.location.href = "https://www.youtube.com";
      return true;
    }
  }
</script>
{% endblock content %}
