{% extends 'auth_base.html' %} {% block content %}
<h1 class="display-6 mb-3">{{ title }}</h1>

<div class="row">
  {% if messages | length > 0 %} {% for message in messages %}
  <div class="col-12">
    {% if message.status %}
    <div class="alert alert-success" role="alert">{{ message.msg }}</div>
    {% else %}
    <div class="alert alert-danger" role="alert">{{ message.msg }}</div>
    {% endif %}
  </div>
  {% endfor %} {% endif %}
  <div class="col-12">
    <div class="card mb-3">
      <div class="card-header">
        <h3>User Settings {{ test }}</h3>
      </div>
      <div class="card-body">
        <form action="/user_settings" method="POST">
          <div class="row g-3">
            <div class="col-md">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control mb-3 first-name-text"
                  id="FirstNameValue"
                  name="FirstNameValue"
                  value="{{profile_data.firstname}}"
                />
                <label for="FirstNameValue">Firstname</label>
              </div>
            </div>

            <div class="col-md">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control mb-3 last-name-text"
                  id="LastNameValue"
                  name="LastNameValue"
                  value="{{profile_data.lastname}}"
                />
                <label for="LastNameValue">Lastname</label>
              </div>
            </div>
          </div>

          <div class="form-floating">
              <select
              class="form-select mb-3"
              id="floatingSelect"
              name="prefered_currency"
              aria-label="Prefered Currency"
            >
              {% if profile_data.pref_currency == "DKK" %}
              <option>Open this select menu</option>
              <option selected value="DKK">DKK</option>
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
              {% elif profile_data.pref_currency == "USD" %}
              <option>Open this select menu</option>
              <option value="DKK">DKK</option>
              <option selected value="USD">USD</option>
              <option value="EUR">EUR</option>
              {% elif profile_data.pref_currency == "EUR" %}
              <option>Open this select menu</option>
              <option value="DKK">DKK</option>
              <option value="USD">USD</option>
              <option selected value="EUR">EUR</option>
              {% else %}
              <option selected>Open this select menu</option>
              <option value="DKK">DKK</option>
              <option value="USD">USD</option>
              <option value="EUR">EUR</option>
              {% endif %}
            </select>
            <label for="floatingSelect">Currency</label>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2 update-user-settings" type="submit">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3>Sustainability Goals</h3>
      </div>
      <div class="card-body">
        <form action="/sustain_settings" method="POST">
          <div class="form-floating">
            <input
              type="number"
              min="0"
              max="100"
              class="form-control sustainability-choice"
              id="floatingInputValue"
              name="sustainable_goals"
              placeholder="name@example.com"
              value="{{ profile_data.sustainable_goals}}"
            />
            <label for="floatingInputValue"
              >Set the percentage you want to save on energy</label
            >
            <small
              >*The amount that can be saved is based on how much the CO2
              fluctuates through a 30 day period. Saving 90% is the same as
              saving 90% of what is currently possible to save when using
              electricity based upon the last 30 days. All electricity usage
              gives out some degree of CO2.</small
            >
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2 update-sustainability-choice" type="submit">
              Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
