#logincontainer {
  max-width: 500px;
}

#navbarNav {
  justify-content: space-between;
}
#main {
  max-width: 500px;
  margin: 0 auto;
}

.colorsuccess {
  color: rgb(9, 255, 0);
}
.iconsize {
  font-size: 1.65em;
  padding-left: 0.15em;
}
.colorfailure {
  color: red;
}
.icon1 {
  display: inline-block;
  content: "";
  vertical-align: -0.125em;
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
  background-repeat: no-repeat;
  background-size: 1rem 1rem;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4caf50;
  cursor: pointer;
}

input[type=checkbox] + label {
  background-color:lightgray
}

input[type=checkbox]:hover + label {
  background-color: gray;
}

